/*
Animation Frames for background gardients
*/

/* Chrome, Safari, Opera */
@-webkit-keyframes gradientChange {
    0%  {background:#1e247e;}
    10% {background:#57afbf;}
    20% {background:#57bf8a;}
    30% {background:#bf57a8;}
    40% {background:#c93434;}
    50% {background:#34c98f;}
    60% {background:#40e2e8;}
    70% {background:#05a488;}
    80% {background:#b772bf;}
    90% {background:#b138ad;}
    100%{background:#444444;}
}

/* Standard syntax */
@keyframes gradientChange {
    0%  {background:#1e247e;}
    10% {background:#57afbf;}
    20% {background:#57bf8a;}
    30% {background:#bf57a8;}
    40% {background:#c93434;}
    50% {background:#34c98f;}
    60% {background:#40e2e8;}
    70% {background:#05a488;}
    80% {background:#b772bf;}
    90% {background:#b138ad;}
    100%{background:#444444;}
}



@-webkit-keyframes arrow {
    0%  {
      opacity:.3;
      margin-top: 10%;
     
    }
    100%{
      opacity: 1;
      margin-top: 11%;
      
    }
}

/* Standard syntax */
@keyframes arrow {
    0%  {
      opacity:.3;
      margin-top: 10%;
     
    }
    100%{
      opacity: 1;
      margin-top: 11%;
      
    }
}

html{
 width: 100%;
 height: 100%
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  overflow: auto;
    background:#1e247e;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: gradientChange;
    -webkit-animation-duration: 40s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: gradientChange;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

section {
  width: 100%;
  height: 100%;
}
.topcontainer{
  width: 100%;
  height:100%;

background: rgba(0,0,0,0.58);
background: -moz-linear-gradient(45deg, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.56) 14%, rgba(140,140,140,0.52) 55%, rgba(0,0,0,0.5) 89%, rgba(0,0,0,0.5) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,0.58)), color-stop(14%, rgba(0,0,0,0.56)), color-stop(55%, rgba(140,140,140,0.52)), color-stop(89%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5)));
background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.56) 14%, rgba(140,140,140,0.52) 55%, rgba(0,0,0,0.5) 89%, rgba(0,0,0,0.5) 100%);
background: -o-linear-gradient(45deg, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.56) 14%, rgba(140,140,140,0.52) 55%, rgba(0,0,0,0.5) 89%, rgba(0,0,0,0.5) 100%);
background: -ms-linear-gradient(45deg, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.56) 14%, rgba(140,140,140,0.52) 55%, rgba(0,0,0,0.5) 89%, rgba(0,0,0,0.5) 100%);
background: linear-gradient(45deg, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.56) 14%, rgba(140,140,140,0.52) 55%, rgba(0,0,0,0.5) 89%, rgba(0,0,0,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

  background-size: cover; 
  overflow:auto;
 

}
.content{
  margin: 0 auto;
  width: 80%;
  margin-top: 8%;
  color:#fff;
  font-family: 'Dosis', sans-serif;
 

}

.content h1 {
  font-size: 3em;
  text-align: center;
   font-weight:200;
}
.content h1 b{
  font-weight:300;
}
.content h2 {
  font-size: 1.6em;
  text-align: center;
  font-weight:200;
}

.boldb {
  width: 20%;
  margin: 0 auto;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
.boldb:hover {
  width: 25%;
}

.arrow{
  margin: 0 auto;
  margin-top: 10%; 
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border:2px solid;
  opacity: .3;
-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;

  /* Chrome, Safari, Opera */
    -webkit-animation-name: arrow;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: arrow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}

.arrow img{
  margin-top: .8em;

}
.arrow img:hover{
  cursor: pointer;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .topcontainer{
    height: auto;
    overflow: none;
  }
  #sec1{
    height: auto;
    overflow: none;
  }


  .arrow{

    -webkit-animation-play-state: paused;
    animation-play-state: paused;

}


}

#sec2{
  height: 100%;
  overflow: auto;
  text-align: center;
  background:#fff;
  font-family: 'Dosis', sans-serif;
}


#sec2 img {
  height: 6em;
}
.columns{
  margin-top: 2%;
   /*border-left: 1px dotted;*/
}
.columns p {
  font-size: 1.5em;
  font-weight: 100;
}
.columns b {
  font-size: 1em;
  font-weight: 400;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #sec2 {
    height: auto;
    overflow: none;
  }
  #sec2 img {
  height: 4em;
}
}


#sec3{
  height: 100%;
  overflow: auto;
  background: url('../images/pattern.jpg'); 
  color: #d2dbd2;
  font-family: 'Dosis', sans-serif;
}

#contactHeader{
  text-align: center;
}

.mailform{
  margin-top: 5%;
  font-size: 1.4em;
  font-weight: 200;
}

.social{
  width: 100%;
  overflow: hidden;
}
.social div{
  float: left;
  margin:1%;
  width: 22%;
}

.social div{
  background-size: cover;
  border-radius: 50%;
  -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
    transition: .4s;
}
.social div:hover{
  border-radius: 20%;
  cursor:pointer;
}
.social img{
  margin: 0 auto;
  padding: 0;
  -webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
    transition: .2s;
}
.social img:hover{
  cursor:pointer;
  opacity: 0;
}

.facebook{
  background:url('../images/hover/facebook.png');
}
.twitter{
  background:url('../images/hover/twitter.png');
}
.googleplus{
  background:url('../images/hover/googleplus.png');
}

.github{
  background:url('../images/hover/github.png');
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #sec3 {
    height: auto;
    overflow: none;
  }
}